body {
	background-image: url('../img/bg.jpg');
}

.dash-unit dtitle {
	font-size: 15px;
}

.half-unit dtitle {
	font-size: 15px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    background: #b2c831;
    color: #fff;
    border-radius: 4px;
}